@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
}

body {
  background-color: #f9fafb; /* Tailwind gray-50 */
  color: #111827; /* Tailwind gray-900 */
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
